{% load staticfiles %}<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% block title %}Staging Server Status{% endblock title %}</title>
  <link rel="icon" type="image/gif" href="{% static 'img/favicon.gif' %}">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/3.3.7+1/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  {% block css %}
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  {% endblock %}

</head>

<body>
  <div class="wrapper">
    {% include 'navigation.html' %}
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">{% block header %}{% endblock %}</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <div class="row">
        {% block content %}
        {% endblock content %}
      </div>
    </div>
  </div>

  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% block javascript %}
  <script src="{% static 'js/scripts.js' %}"></script>
  {% endblock javascript %}



</body>
</html>
