<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0" class="toggled">
    <div class="navbar-header">
        <a class="navbar-brand" href="/">StageStatus</a>
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav" id="side-menu">
                <li>
                    <a class="active" href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li>
                    <a href="index.html"><i class="fa fa-bookmark fa-fw"></i> Reserved</a>
                    <a href="index.html"><i class="fa fa-bookmark-o fa-fw"></i> Free</a>
                    <a href="{% url 'admin:index' %}"><i class="fa fa-lock fa-fw"></i> Admin</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
