<div class="col-lg-3 col-xs-6">
    <div class="panel panel-{% if machine.is_reserved %}red{% else %}green{% endif %} ">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    {% if machine.is_reserved %}
                    <i class="fa fa-2x fa-bookmark"></i>
                    {% else %}
                    <i class="fa fa-2x fa-bookmark-o"></i>
                    {% endif %}
                </div>
                <div class="col-xs-9 text-right">
                    <div class="hostname">{{ machine.hostname }}</div>
{% if machine.is_reserved %}
            <div>Reserved&nbsp;by:&nbsp;{{ machine.reservation.user }}<br></div>
            {% else %}
            <div>&nbsp;</div>
            {% endif %}
                </div>
            </div>
        </div>
        <a href='{% url "machine-detail" machine.hostname %}'>
            <div class="panel-footer">
                {% if machine.is_reserved %}
                <span class="pull-left">View Details</span>
                {% else %}
                <span class="pull-left">Reserve</span>
                {% endif %}
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>
