{% extends "base.html" %}
{% block header %}{{machine.hostname}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-6 col-xs-6">
        <div class="panel panel-{% if machine.is_reserved %}red{% else %}green{% endif %} ">
            <div class="panel-heading">
                {% if machine.is_reserved %}
                <i class="fa fa-1x fa-bookmark "></i>
                Reserved
                {% else %}
                <i class="fa fa-1x fa-bookmark-o"></i>
                Available
                {% endif %}
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>DB Server</dt>
                    <dd>{{ machine.db_server }}</dd>
                    <dt>DB Refresh</dt>
                    <dd>{{machine.status.last_db_refresh }}</dd>
                    <dt>Git Branch</dt>
                    <dd>{{ machine.status.git_branch }}</dd>
                    <dt>Git Version</dt>
                    <dd>{{ machine.status.git_version }}</dd>
                    {% if machine.reservation %}
                    <dt>User</dt>
                    <dd>{{ machine.reservation.user }}</dd>
                    <dt>Notes</dt>
                    <dd>{{ machine.reservation.notes|linebreaksbr }}</dd>
                    {% endif %}
                </dl>
            </div>
            <div class="panel-footer">
                Panel Footer
            </div>
        </div>
    </div>
</div>
{% endblock %}


